.main-sidebar {
  background: $sidebar-bg;
  padding: 30px;
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: 0;
  }
  .ant-menu {
    background: $sidebar-bg;
    width: 200px;
    margin: auto;
    .ant-menu-item {
      text-align: center;
      margin: 0;
      &:after {
        display: none;
      }
    }
    .ant-menu-item-selected {
      background: rgba($white, 0.8);
    }
  }
  .ant-menu-submenu > .ant-menu {
    background: $sidebar-bg;
  }
  min-height: 100vh;
  width: 300px;
  z-index: 10;
  position: fixed;
  top: 0;
  .logo {
    text-align: center;
    padding: 15px;
    .logo-img {
      display: inline-block;
      height: 150px;
      border-radius: 20px;
      object-position: center;
      object-fit: cover;
    }
  }
  @include media-breakpoint-down(lg) {
    width: 250px;
  }
  .bio {
    text-align: center;
    .name {
      line-height: 1.3em;
    }
    .title {
      margin-bottom: 10px;
    }
  }
  .btn-group {
    text-align: center;
  }
  .contact-btn {
    font-size: 24px;
    color: $text1;
    display: inline-block;
    margin: 0 7px;
  }
  p {
    text-align: center;
  }
  .contact {
    background: #fff;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 15px 0;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }
  }
  @include media-breakpoint-down(sm) {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
