// Font

$font1 : 'Quicksand', sans-serif;
$font2 : 'Playfair Display', serif;

// Color

$primary-color: #1890ff;

$black : #000000;
$white : #ffffff;


$gray1 : #ddd;
$sidebar-bg : #f2f3f7;

$text1 : rgba($black, .7);
$title : #555555;

$border1 : #e9ecef;

$border2 : #eee;
// Shadow

$shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);

$border-radious: .1875rem;

$green : #18ce0f;
$red : #FF3636;
$danger : #f5222d;