.single-project {
  display: block;
  transition: all 0.3s ease;
  padding: 30px 15px;
  margin-bottom: 16px;
  text-align: center;
  height: 220px;
  border: 1px solid rgba($primary-color, .2);
  &:hover {
    box-shadow: $shadow;
    border: 1px solid rgba($primary-color, 0);
  }
  .project-name {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .logo {
      height: 30px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .desc {
    color: $text1;
    line-height: 1.3;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .contribution {
    color: $text1;
    line-height: 1.3;
    font-size: 14px;
    b {
      font-weight: 400;
      color: $title;
      font-family: $font2;
    }
  }
}
