.skill-tag {
  padding: 0 15px;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  font-size: 14px;
//   border: none;
  margin-bottom: 7px;
  border-radius: 0;
  line-height: 30px;
  background: $sidebar-bg;
//   border: 1px solid $primary-color;
}
