.ant-timeline-item-content {
    margin-left: 30px;
}
.ant-list-split .ant-list-item {
    border-bottom: none;
    padding: 4px 0;
  }
  .ant-list-header {
    padding: 7px 0;
    border-bottom: none !important;
    color: $title;
  }
  
  .single-exprience {
    h4 {
      font-weight: 500;
    }
    .top-bar {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dotted $gray1;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
    .company-name {
      h3 {
        color: $primary-color;
        font-weight: 500;
      }
    }
  }